.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/home/kacper/Desktop/University-Project-Frontend/aplikacja-pogodowa-frontend/WeatherApp/src/assets/ed986079-dcec-49bb-b0f8-9c33c4128248.jpg");
    background-size: cover;
    font-family: Verdana, Tahoma, sans-serif;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    border-right: 3px solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30) forwards, blink 0.75s step-end infinite;
    font-size: 8rem;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 100px;
    position: absolute;
    z-index: 1;
    top: 0px;
    width: 94%;
    background-color: transparent;
    letter-spacing: 13px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 92%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
.title:hover {
    color: hsl(0, 0%, 30%);
    font-size: 8.05rem;
}


.inputGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: #fff;
    text-align: center;
    height: 30px;
    background-color:hsl(207, 71%, 73%);
    color: #333;
    border-left: 8px solid white;
    
}

.footer span {
    margin: 0 5px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.input {
    flex: 1;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: hsl(0, 0%, 20%);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.button {
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    font-size: 1.01rem;
}


