.container {
    background-image: url("/home/kacper/Desktop/University-Project-Frontend/aplikacja-pogodowa-frontend/WeatherApp/src/assets/ed986079-dcec-49bb-b0f8-9c33c4128248.jpg");
    height: 100vh;
    margin-top: 0px;
}